{{- $jwtKey := .Values.secret.jwtSecretKey | required "secret.jwtSecretKey must be set (use --set secret.jwtSecretKey=<your-secret>)" -}}
{{- if contains "change-me" $jwtKey }}
{{- fail "secret.jwtSecretKey still contains the default placeholder. Set a strong, unique secret key." }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  POSTGRES_USER: {{ .Values.secret.postgresUser | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.secret.postgresPassword | b64enc | quote }}
  POSTGRES_DB: {{ .Values.secret.postgresDb | b64enc | quote }}
  ConnectionStrings__DefaultConnection: {{ printf "Host=%s-postgres;Port=%d;Database=%s;Username=%s;Password=%s" .Release.Name (.Values.postgres.port | int) .Values.secret.postgresDb .Values.secret.postgresUser .Values.secret.postgresPassword | b64enc | quote }}
  JWT__SecretKey: {{ $jwtKey | b64enc | quote }}
  {{- if .Values.secret.sendgridApiKey }}
  SendGrid__ApiKey: {{ .Values.secret.sendgridApiKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.secret.twilioAccountSid }}
  Twilio__AccountSid: {{ .Values.secret.twilioAccountSid | b64enc | quote }}
  {{- end }}
  {{- if .Values.secret.twilioAuthToken }}
  Twilio__AuthToken: {{ .Values.secret.twilioAuthToken | b64enc | quote }}
  {{- end }}
  {{- if .Values.secret.twilioFromPhone }}
  Twilio__FromPhone: {{ .Values.secret.twilioFromPhone | b64enc | quote }}
  {{- end }}
