apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  POSTGRES_USER: {{ .Values.secret.postgresUser | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.secret.postgresPassword | b64enc | quote }}
  POSTGRES_DB: {{ .Values.secret.postgresDb | b64enc | quote }}
  ConnectionStrings__DefaultConnection: {{ printf "Host=%s-postgres;Port=%d;Database=%s;Username=%s;Password=%s" .Release.Name (.Values.postgres.port | int) .Values.secret.postgresDb .Values.secret.postgresUser .Values.secret.postgresPassword | b64enc | quote }}
  JWT__SecretKey: {{ .Values.secret.jwtSecretKey | b64enc | quote }}
  {{- if .Values.secret.sendgridApiKey }}
  SendGrid__ApiKey: {{ .Values.secret.sendgridApiKey | b64enc | quote }}
  {{- end }}
